.fax-mobile-scan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .camera-stream-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;

    .message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1001;
      background: gray;
      color: white;
      padding: 10px;
      border-radius: 5px;
      font-size: 12px;
    }

    #videoInput,
    #canvasOutput {
      position: absolute;
      top: 0;
      left: 0;
    }

    .capture-image-btn,
    .switch-camera-btn {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
    }

    .switch-camera-btn {
      left: unset;
      transform: unset;
      right: 0;
    }
  }
}
