.document-scanner-container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100vw;
  background: white;

  .loading-camera-message {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 400;
  }

  .video-and-canvas-container {
    position: relative;
    width: 100%;
    height: 70%;
    background: black;

    #video,
    #result {
      position: absolute;
      top: 0px;
      left: 0px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    #video {
      visibility: hidden;
    }

    .capturing-message-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;

      .message {
        width: max-content;
        padding: 8px 16px;
        border-radius: 14pt;
        background-color: #212121b8;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-align: center;

        .loading-dots {
          text-align: center;
          margin-top: 5px;

          @keyframes scale {
            0% {
              transform: scale(0);
            }

            11% {
              transform: scale(0.5);
              display: inline-block;
            }

            22% {
              transform: scale(0.75);
            }

            33% {
              transform: scale(1);
            }

            44% {
              transform: scale(0.75);
            }

            55% {
              transform: scale(0.5);
            }

            66% {
              transform: scale(0);
            }

            100% {
              transform: scale(0);
            }
          }

          span {
            width: 8px;
            height: 8px;
            margin-right: 5px;
            display: inline-block;
            -webkit-animation: scale 0.9s infinite;
            animation: scale 0.9s infinite;
            border-radius: 50%;
            background-color: #fff;
          }
        }
      }
    }

    .done-btn,
    .cancel-btn,
    .switch-camera-btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #1d1d1d;
      border-radius: 50%;
      border: none;
      outline: none;
    }

    .done-btn {
      background: #31a6c7;

      &:disabled {
        background: #1d1d1d;
      }
    }

    .cancel-btn {
      right: unset;
      left: 10px;
    }

    .switch-camera-btn {
      bottom: unset;
      top: 10px;
    }

    .capture-image-btn {
      position: absolute;
      left: 50%;
      bottom: 15px;
      background: #1d1d1d;
      border-radius: 5px;
      border: none;
      outline: none;
      transform: translateX(-50%);
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      padding: 10px 20px;
    }
  }

  .captured-images-container {
    height: 30%;
  }

  button {
    &:active,
    &:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.document-scanner-images-list {
  display: flex;
  width: 100vw;
  height: 100%;
  background: white;
  white-space: nowrap;
  overflow: auto;
}

.document-scanner-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 15px) / 2.35);
  min-width: calc((100% - 15px) / 2.35);
  height: calc(100% - 20px);
  margin-inline-end: 5px;
  margin-top: 10px;

  &:first-child {
    margin-inline-start: 5px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.document-scanner-images-list.cdk-drop-list-dragging
  .document-scanner-image-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.document-scanner-drag-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: move;
  width: 28px;
  height: 28px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #1d1d1d;
  z-index: 1;
}

.document-scanner-delete-image {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 28px;
  height: 28px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #1d1d1d;
  z-index: 1;
  cursor: move;
}

.document-scanner-captured-image {
  display: block;
  width: 100%;
  max-height: 100%;
}
