<button class="btn" (click)="showDocumentScanner = !showDocumentScanner">
  SCAN
</button>

<div>
  <img
    *ngIf="scannedDocumentURL"
    [src]="scannedDocumentURL"
    alt="scanned document"
  />
</div>

<!-- <app-document-scanner
  *ngIf="showDocumentScanner"
  (onClose)="handleClose()"
  (onCapture)="handleCapturedDocument($event)"
></app-document-scanner> -->

<!-- <app-document-scanner-new
  *ngIf="showDocumentScanner"
  (onClose)="handleClose()"
  (onCapture)="handleCapturedDocument($event)"
></app-document-scanner-new> -->

<app-images-row></app-images-row>
