<button class="btn" (click)="showDocumentScanner = !showDocumentScanner">
  SCAN
</button>

<div>
  <img
    *ngIf="scannedDocumentURL"
    [src]="scannedDocumentURL"
    alt="scanned document"
  />
</div>

<!-- <app-document-scanner
  *ngIf="showDocumentScanner"
  (onCapture)="handleScannedDocument($event)"
  (onCancel)="handleCancelScanning()"
  (onClose)="showDocumentScanner = false"
></app-document-scanner> -->

<app-jscannify-document-scanner
  *ngIf="showDocumentScanner"
  (onClose)="showDocumentScanner = false"
  (onCapture)="handleCapturedDocument($event)"
></app-jscannify-document-scanner>
